.back-btn
{
    position: relative;
    top: 15pt;
    z-index:1;
    margin: 0;
    padding: 0;
}

.product-card 
{
    position: relative;
    margin-top: 0;
}
  
.card-img-top 
{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px 30px 0 0;

}
  
.card-title 
{
    top: 75%;
    padding: 40pt 20pt 26pt;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    color: #1a0f5a;
    border-radius: 40px 40px 0 0;
    box-sizing: border-box;
    font-size: 50px;
    z-index: 2; 
}
  
.card-price
{
padding: 0pt 20pt 0pt   ;
position: absolute;
color: #1a0f5a;
font-size: 50px;
height: 100px;
width: 50%;
}

.card-lettuce-quantity
{
position: absolute;
padding: 10pt 0pt 0pt;
left: 28%;
font-size: 35px;
width: 50%;
color: #1a0f5ab0;
height: 100px;
}

.desc
{
margin: 100pt 0pt 0pt 26pt;
font-size: 35pt;
width: 90%;
height: auto;
color: #1a0f5a;
position: relative;
word-wrap: break-word;
}

.desc-title
{
font-size: 35pt;
}

.desc-text
{
font-size: 25pt;
color: #1a0f5ab0;
}

.heart-icon{
    color: #74747484;
}
.btn-like
{
    border-radius: 4px;
    border: 1px solid #74747484;
} 

.btn-like:hover
{
    background-color: #74747484;
}