header h1 span {
    display: inline-block;
    vertical-align: middle; 
}

header h1 img {
    width: 50px; 
    height: auto; 
}

header h1 {
    color: #CBF265;
    font-size: 20px;
    background-color: #F3F3F3;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}